


.player1Balls {
    width: 100%;
    height: 100%;
   
    
    background-color: #fd7474;
    border-radius: 60%;
    border: 2px solid #e67676;
     
}

.player1Balls:hover {
    cursor: pointer;
    background-color: #bb4646;
    
}
.player2Balls {
    width: 100%;
    height: 100%;
    
    background-color: #fafa76;
    border-radius: 60%;
    border: 2px solid #e4e463;
 
}
.player2Balls:hover {
    cursor: pointer;
    background-color: #ffff32;
    
}
/*
O style é a estilização indicando a vez de cada Jogador
*/
 #style {

    font-size: 0.7rem;
    color: purple;
}
