#player1Balls {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: -175px;
    background-color: #fd7474;
    border-radius: 60%;
    border: 2px solid #e67676;
}

#player2Balls {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 254px;
    background-color: #f0f059;
    border-radius: 60%;
    border: 2px solid #e4e463;

}