.player1Balls {
  width: 90%;
  height: 90%;

  background-color: #fd7474;
  border-radius: 60%;
  border: 2px solid#e67676;
}

.player1Balls:hover {
  cursor: pointer;
  background-color: #bb4646;
}
.player2Balls {
  width: 90%;
  height: 90%;

  background-color: #fafa76;
  border-radius: 60%;
  border: 2px solid #e4e463;
}
.player2Balls:hover {
  cursor: pointer;
  background-color: #ffff32;
}
.headerBall {
   width: 60px; 
   height: 60px; 
   margin-bottom:15px; 
  }