.glass{
    margin: 0 auto;
    padding: 20px;
    width: 520px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    background-clip: padding-box;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cel-modifier{
    width :70px;
    height: 70px;
    border : 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color, border;
    transition-duration: 0.5s;
}

.column-modifier:hover {
    background-color: rgba(250, 250, 250, 0.4);

}
