.winningBorderRed{
    background: radial-gradient(circle, rgb(241 68 68) 0%, rgb(241 80 80 / 1) 48%, rgb(253 125 125) 100%);    border: 2px dashed #f3dfba;
    border-radius: 5px;    box-shadow: 2px 0px 26px 0px #ce1b0e;
    border: 2px dashed #f3dfba;
     border-radius: 5px;
  }
  .winningBorderYellow{
    background: radial-gradient(circle, rgb(255 247 0) 0%, rgba(255,254,65,1) 48%, rgb(255 250 195) 100%);
    box-shadow: 2px 0px 26px 0px  #ffff63;
    border: 2px dashed white;
    border-radius: 5px;
  }