#conteiner {
  display: flex;
  position: absolute;
  transform: translateX(-50%);
  top: -10%;
  left: 50%;
  max-width: 570px;
  width: 100vw;
  height: 800px;
}

#menuStart {
  border: solid 5px #ff6969;
  border-radius: 3px;
  box-shadow: 0 0 0 2em #ebbd7a, 0 0 0 4em cadetblue;
  padding: 20px;
  background-color: cadetblue;
  max-width: 350px;
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}

#menuStart p {
  text-align: center;
  font-family: "Asap", sans-serif;
  color: white;
  font-size: 55px;
  font-weight: bold;
}
#startGame {
  display: flex;
  justify-content: center;
}
#menuStart button {
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  max-width: 200px;
  width: 100vw;
  height: 80px;
  background: #f16a6a;
  border: solid 6px burlywood;
  cursor: pointer;
  border-radius: 15px;
}
#menuStart button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 560px) {
  #conteiner {
    display: flex;
    position: absolute;
    transform: translateX(-50%);
    top: -10%;
    left: 50%;
    max-width: 570px;
    width: 100vw;
    height: 620px;
  }

  #menuStart {
    border: solid 5px #ff6969;
    border-radius: 3px;
    box-shadow: 0 0 0 1em #ebbd7a, 0 0 0 2em cadetblue;
    padding: 20px;
    background-color: cadetblue;
    max-width: 150px;
    width: 100%;
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
  }
  #menuStart p {
    text-align: center;
    font-family: "Asap", sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 3px;
  }
  #menuStart button {
    font-family: "Asap", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    max-width: 100px;
    width: 100vw;
    height: 60px;
    background: #f16a6a;
    border: solid 6px burlywood;
    cursor: pointer;
    border-radius: 15px;
  }
}
