#conteiner {
  display: flex;
  position: absolute;
  transform: translateX(-50%);
  top: 42px;
  left: 50%;
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(10px);
}

#menuStart {
  border: solid 5px #ff6969;
  border-radius: 3px;
  box-shadow: 0 0 0 2em #ebbd7a, 0 0 0 4em cadetblue;
  padding: 20px;
  background-color: cadetblue;
  max-width: 350px;
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}

#menuStart p {
  text-align: center;
  font-family: "Asap", sans-serif;
  color: white;
  font-size: 55px;
  font-weight: bold;
}
#startGame {
  display: flex;
  justify-content: center;
}
#menuStart button {
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  max-width: 200px;
  width: 100vw;
  height: 80px;
  background: #f16a6a;
  border: solid 6px burlywood;
  cursor: pointer;
  border-radius: 15px;
}
#menuStart button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 560px) {

  #conteiner {
    max-height: calc(226px + 85.7vw);
  }

  #menuStart {
    height: 80px;
    width: 50vw;
  }

  #menuStart p {
    font-size: 25px;
    padding: 3px;
  }
  #menuStart button {
    font-size: 9px;
    max-width: 100px;
    height: 60px;
  }

  /* #menuStart button {
    font-family: "Asap", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    max-width: 200px;
    width: 100vw;
    height: 80px;
    background: #f16a6a;
    border: solid 6px burlywood;
    cursor: pointer;
    border-radius: 15px;
  } */

}
