#popUp {
  display: none;
  border: solid 5px #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 1em cadetblue, 0 0 0 2em #ff6969;
  padding: 20px;
  background-color: #ebbd7a;
  width: 600px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
}

#popUpWin {
  text-align: center;
  font-family: "Asap", sans-serif;
  color: #eedfc8;
  font-size: 35px;
  font-weight: bold;
}

#restartGame {
  display: flex;
  justify-content: center;
}
#popUp button {
  margin-top: 5px;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 80px;
  background: #f16a6a;
  border: solid 6px burlywood;
  cursor: pointer;
  border-radius: 15px;
}
#popUp button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 560px) {
}
