@import url("https://fonts.googleapis.com/css?family=Asap");

body {
  margin: 0;
  padding: 0;
  background-color: burlywood;
}

#title {
  width: 100vw;
}

#title h1 {
  font-size: 2rem;
  font-family: "Asap", sans-serif;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  background-color: cadetblue;
  color: aliceblue;
}

#headerGame {
  max-width: 560px;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#headerPlayerTurn {
  display: flex;
  flex: row;
  justify-content: space-around;
  width: 100%;
}

.headerScoreContent {
  width: 100%;
}
.headerScore {
  background-color: #ffd27e;
  border: 5px solid rgb(226, 110, 110);
  border-radius: 10%;
  max-width: 400px;
  width: 100vw;
  margin: 20px auto;
  color: #fff;
  font-size: 46px;
  text-align: center;
  padding: 15px 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
.score {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-size: "Asap", sans-serif;
  padding: 10px;
}

.fa-arrow-left { 
  width: 50px; 
  height: 80px; 
  font-size: 57px; 
  color: #fd7474;
 } 
.fixed-arrow {
   color: #fd7474; 
   transform: none; 
   transition: 2s; 
  } 
.rotate-arrow-ball { 
  color: #fafa76;
  transform: rotate3d(1, 762, 1, 180deg); 
  transition: 1.7s; 
}
.rodape{
  width: 100%;
  margin-top: 15px;
  padding: 15px 0;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rodape>a{
  font-weight: bold;
  text-decoration: none;
}
.rodape>.first{
  margin-bottom: 15px;
}
.rodape>.last{
  margin-top: 15px;
}
.rodape p{
  color: aliceblue;
  font-family: 'Open Sans';
}
@media (max-width: 560px) {
  #title {
    max-width: 560px;
    width: 100vw;
  }
  .headerScore {
    background-color: #ffd27e;
    border: 5px solid rgb(226, 110, 110);
    border-radius: 10%;
    max-width: 200px;
    width: 100vw;
    margin: 20px auto;
    color: #fff;
    font-size: 46px;
    text-align: center;
    padding: 15px 20px;
    font-family: sans-serif;
  }
}
