@import url("https://fonts.googleapis.com/css?family=Asap");

body {
  margin: 0;
  padding: 0;
  background-color: burlywood;
}

h1 {
  font-size: 2rem;
  font-family: "Asap", sans-serif;
  padding: 10px;
  text-align: center;
  background-color: cadetblue;
  color: aliceblue;
}

.headerScore {
  background-color: #833737d5;
  border: 5px double rgb(226, 110, 110);
  width: 200px;
  margin: 20px auto;
  color: #fff;
  font-size: 46px;
  border-radius: 50%;
  text-align: center;
  padding: 15px 20px;
  font-family: sans-serif;
  position: relative;
}

.score {
  background: #f16a6a;
  font-size: 14px;
  padding: 2px 10px;
  font-size: "Asap", sans-serif;
}

#player1 {
  position: absolute;
  top: 30px;
  left: -35px;
}

#player2 {
  position: absolute;
  top: 30px;
  right: -25px;
}

